.gophi-theme-color-bg{
    background-color: #13b8a4;
}

.divider-header-1 {
    border-width: 1px !important;
    height: 100%;
}

.divider-header-2 {
    border-width: 2px !important;
    height: 100%;
}
